<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Enter name" [(ngModel)]="newCustomer.customerName">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="customerEmail" name="customerEmail" placeholder="Enter your email" [(ngModel)]="newCustomer.customerEmail">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="customerPassword" name="customerPassword" placeholder="Enter your password" [(ngModel)]="newCustomer.customerPassword">
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                        <button type="submit" class="btn btn-info" (click)="register()">Register</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>












<!-- 
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
<form>
    <div class="mb-3">
      <label for="exampleInputName">Name</label>
      <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Enter name" [(ngModel)]="newCustomer.customerName">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail">Email</label>
      <input type="email" class="form-control" id="customerEmail" name="customerEmail" placeholder="Enter email" [(ngModel)]="newCustomer.customerEmail">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="customerPassword" name="customerPassword" placeholder="Password" [(ngModel)]="newCustomer.customerPassword">
      </div>
    <button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
  </form>
  </div>
  </div>
  </div>
  </div> -->