<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="favicon.ico" alt="Bootstrap" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">FindARide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Right-aligned items -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLink="login/customer">
                <a class="nav-link">Login</a>
            </li>
            <li class="nav-item" routerLink="register/customer">
                <div class="nav-link" >Register</div>
            </li>
        </ul>
    </div>
</nav>
  <router-outlet/>



