<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Vehicle</h5>
                    <form>
                        <div class="mb-3">
                            <label for="vehicleName" class="form-label">Vehicle Name</label>
                            <input type="text" class="form-control" id="vehicleName" name="vehicleName"  placeholder="Enter Vehicle Name" [(ngModel)]="newVehicle.modelName">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Model Year</label>
                            <input type="email" class="form-control" id="" name="customerEmail" placeholder="Enter your Vehicle Year" [(ngModel)]="newVehicle.modelYear">
                        </div>
                        <div class="mb-3">
                            <label for="isAvailable" class="form-label">Is Available</label>
                            <input type="boolean" class="form-control" id="customerPassword" name="customerPassword" placeholder="Enter the availability" [(ngModel)]="newVehicle.isAvailable">
                        </div>
                        <div class="mb-3">
                            <label for="rent" class="form-label">Rent</label>
                            <input type="number" class="form-control" id="customerPassword" name="customerPassword" placeholder="Enter the Rent" [(ngModel)]="newVehicle.rent">
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" id="customerPassword" name="customerPassword" placeholder="Enter location" [(ngModel)]="newVehicle.vehicleLocation">
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                        <button type="submit" class="btn btn-info" (click)="add()">Add</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


