
<body>
  <br>
  
  <div class="col-lg-12">
        <p>      </p>
    </div>
    <div class="row lg-12">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Link Account</b></h5>
                    <br>
                    <p class="card-text">Link your Bank Account.</p>
                    <br>
                    <a routerLink="link" class="btn btn-primary">Link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Book Vehicle</b></h5>
                    <br>
                    <p class="card-text">See currently active and book vehicles.</p>
                    <br>
                    <a routerLink="vehicles/active" class="btn btn-success">Book</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-12">
            <p>        </p>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Return Vehicles</b></h5>
                    <br>
                    <p class="card-text">Returning the vehicle.</p>
                    <br>
                    <a routerLink="vehicles/return" class="btn btn-info">Return</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>DeActivate Account</b></h5>
                    <br>
                    <p class="card-text">Permanently deactivate your account.</p>
                    <br>
                    <a routerLink="deactivate" class="btn btn-danger">Deactivate</a>
                </div>
            </div>
        </div>

        

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>View Bookings</b></h5>
                    <br>
                    <p class="card-text">View your booking list</p>
                    <br>
                    <!-- <a routerLink="view/bookings" class="btn btn-danger">View</a> -->
                    <button class="btn-info" (click)="view()">view</button>
                </div>
            </div>
        </div>
        
    </div>
    <div>
      <br>
      <Br>
      <div class="row">
        <div class="col-sm-11"></div>
        <div class="col-sm-1">
      <button style="text-align: right;" class="btn-danger" (click)="logout()" style="padding-right: 10px;">Logout</button>
    </div>  
    </div>
    </div>
    <br>
    <h3 style="font-family: 'Times New Roman', Times, serif; font-size: 20px; text-align: center;">Booking List:</h3>
    <hr>
    <div class="container mt-5">
        <p *ngIf="bookingList.length<=0" style="font-family: 'Times New Roman', Times, serif; text-align: center;" > No Bookings done.</p>
        <table *ngIf="bookingList.length>0" class="table">
            <thead>
                <tr>
                    <th>Booking Id</th>
                    <th>Vehicle Name</th>
                    <th>Rent</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookingList">
                    <td>{{booking.bookingId}}</td>
                    <td>{{booking.vehicle?.modelName}}</td>
                    <td>{{booking.vehicle?.rent}}</td>
                    <td>{{booking.bookingStatus}}</td>

                    <!-- <td><button class="btn btn-primary" (click)="book(vehicle.vehicleId)">Book</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</body>