<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="row lg-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Link Account</h5>
                    <p class="card-text">Link your Bank Account.</p>
                    <a class="btn btn-primary">Link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Active Vehicles</h5>
                    <p class="card-text">See currently active vehicles.</p>
                    <a routerLink="vehicles/active" class="btn btn-success">View</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Return Vehicles</h5>
                    <p class="card-text">Returning the vehicle.</p>
                    <a routerLink="vehicles/active" class="btn btn-success">Return</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Delete Account</h5>
                    <p class="card-text">Permanently delete your account.</p>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>