<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form>
                        <div class="mb-3">
                            <label for="userType" style="padding-left: 10px;">Type Of User : </label>
                            <br/>
                            <select id="userType" name="userType" (change)="onUserTypeChange($event)">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                                  
                            </select>
                        </div>
                        <!-- Admin Login -->
                        <div *ngIf="isAdmin">
                            <div class="mb-3">
                                <label for="adminEmail" class="form-label">Admin Email</label>
                                <input type="email" class="form-control" id="adminEmail" placeholder="Enter your email" [(ngModel)]="loginAdmin.adminEmail" name="adminEmail">
                            </div>
                            <div class="mb-3">
                                <label for="adminPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="adminPassword" placeholder="Enter your password" [(ngModel)]="loginAdmin.adminPassword" name="adminPassword">
                            </div>
                        </div>
                        <!-- User Login -->
                        <div *ngIf="!isAdmin">
                            <div class="mb-3">
                                <label for="email" class="form-label">Customer Email</label>
                                <input type="email" class="form-control" id="customerEmail" name="customerEmail" placeholder="Enter your email" [(ngModel)]="loginCustomer.customerEmail">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="customerPassword" name="customerPassword" placeholder="Enter your password" [(ngModel)]="loginCustomer.customerPassword">
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info" (click)="login()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

