<!-- <p>viewbookings works!</p>
<div class="container mt-5">
    <table *ngIf="vehiclelist.length>0" class="table">
        <thead>
            <tr>
                <th>Vehicle Id</th>
                <th>Model Name</th>
                <th>Model Year</th>
                <th>Availability</th>
                <th>Location</th>
                <th>Rent</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of vehiclelist">
                <td>{{vehicle.vehicleId}}</td>
                <td>{{vehicle.modelName}}</td>
                <td>{{vehicle.modelYear}}</td>
                <td>{{vehicle.isAvailable}}</td>
                <td>{{vehicle.vehicleLocation}}</td>
                <td>{{vehicle.rent}}</td> 
                <td><button class="btn btn-primary" (click)="book(vehicle.vehicleId)">Book</button></td>
            </tr>
        </tbody>
    </table>
</div> -->